

a {
    color: rgb(11, 16, 107);
}

.info-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul > li {
    background-color: aliceblue;
}

.spinoff {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-style: italic;
    font-size: large;
    color: blue;
}

.table {
    margin: 50px;
    padding: 10px;
    border: dashed red 3px;
}

#themesong {
    background-image: url(https://i.pinimg.com/originals/d3/bb/d0/d3bbd00fc97e601c6dabca395af2e7f6.png);
    color: aliceblue;
}

.info{
    cursor: crosshair;
    user-select: none;
    
}

